:root {
    --purple: #3b2f63;
    --dark-purple: #3b2f63;

    --classification-banner-height-px: 16px;
    --header-height-px: 40px;
    /* calc(40px + var(--classification-banner-height-px)); */

    --qlik-navigation-bar-height-px: 40px;
    --qlik-navigation-bar-height-hidden-px: 8px;

    --full-viewport-height-px: calc(
        100vh - var(--header-height-px) - var(--classification-banner-height-px)
    );

    --full-viewport-height-navbar-px: calc(
        var(--full-viewport-height-px) - var(--qlik-navigation-bar-height-px)
    );
    --full-viewport-height-hidden-navbar-px: calc(
        var(--full-viewport-height-px) -
            var(--qlik-navigation-bar-height-hidden-px)
    );
    --hero-height-px: 600px;
    --qlik-search-bar-height: 36px;

    /* Blue color palette */
    --blue-1: #2f6690; /* Lapis Lazuli */
    --blue-2: #3a7ca5; /* Cerulean */
    --platinum: #d9dcd6; /* Platinum */
    --blue-3: #16425b; /* Inidigo dye */
    --blue-4: #81c3d7; /* Sky blue */
    --blujan: #2f6690;

    /* Box shadows */
    --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --box-shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: inherit;
}

a:visited {
    color: inherit;
}

.page {
    margin: 0;
    font-family: Source Sans Pro, sans-serif !important;
}

.main {
    height: var(--full-viewport-height-px);
    background-color: #fff;
}

.header {
    height: var(--header-height-px);
    width: 100%;
    /* background-color: #fff; */
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper > svg {
    width: 50px;
    height: 50px;
    stroke: var(--purple);
}

.classification-banner {
    height: var(--classification-banner-height-px);
    width: 100%;
    text-align: center;
    color: #fff;
}

.classification-banner.green {
    background-color: green;
}

.classification-banner.red {
    background-color: red;
}

/**************************************/
/*************** Tiles ****************/

/* Tiles container */
.tile-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
}

.tile-wrapper {
    flex: 25%;
    width: auto;
    height: 50%;
    padding: 0.5rem;

    transition: all 0.5s ease-in-out;
}

.tile-wrapper.hide {
    overflow: hidden !important;
    flex: 0 !important;
    width: 0 !important;
    padding: 0;
}

.tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 6px;
    overflow: hidden;
}

.tile-header {
    background-color: var(--blue-1);
    color: #fff;
    padding: 0 1rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.tile-header > h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

    flex: 1;
}

.tile-header > .tile-header-fullscreen-btn {
    background-color: inherit;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    border: none;

    transition: all 0.25s ease-in-out;
}

.tile-header > .tile-header-fullscreen-btn:hover {
    cursor: pointer;
    background-color: var(--blue-2);
}

.tile-header > .tile-header-fullscreen-btn svg {
    fill: #fff;
}

.tile-body {
    width: 100%;
    flex: 1;
}

.tile-sources {
    width: 100%;
    padding: 0.5rem;

    display: flex;
    gap: 1rem;
}

.tile-sources > .sources {
    flex: 2;
}

.tile-sources span {
    display: block;
}

.tile-sources .red {
    color: red;
}

.tile-sources .yellow {
    color: orange;
}

.tile-sources .green {
    color: green;
}

.tile-sources > .refresh-rate {
    flex: 1;
}

.tile-sources > .quality {
    flex: 1;
}

/**************************************/

/**************************************/
/************* Sidebar ****************/
.polaris-sidebar {
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: var(--full-viewport-height-navbar-px);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateX(-100%);

    transition: all 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.polaris-sidebar.open {
    transform: translateX(0%);
}

.close-icon-wrapper {
    display: flex;
    justify-content: flex-end;
}

.close-icon {
    height: var(--header-height-px);
    width: var(--header-height-px);

    padding: 12px;

    transition: background-color 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.close-icon:hover {
    cursor: pointer;
    /* background-color: #eee; */
    /* border-radius: 50%; */
}

.sidebar-body {
    padding: 0 1rem 1rem;
}

.sidebar-body .polaris-checkbox {
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.sidebar-body .polaris-checkbox > input {
    width: 25px;
    height: 25px;
}
.sidebar-body .polaris-checkbox > input:hover {
    cursor: pointer;
}

.sidebar-body .polaris-checkbox > label {
    font-size: 1.25rem;
}

.sidebar-body .polaris-checkbox > label:hover {
    cursor: pointer;
}
/**************************************/

/********** polaris-toggle ************/

.polaris-toggle {
    display: flex;
    gap: 1rem;
}

.polaris-toggle-title {
    flex: 1;
    display: flex;
    align-items: center;
}

.polaris-toggle-box {
    width: 50px;
    height: 25px;

    display: block;
    background-color: var(--platinum);
    border-radius: 1000px;
    cursor: pointer;
    position: relative;

    transition: background-color ease 0.25s;
}

.polaris-toggle-box.checked {
    background-color: var(--blujan);
}

.polaris-toggle-box .circle {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
    transform: translateX(0px);
}

.polaris-toggle-box.checked .circle {
    transform: translateX(25px);
}

.polaris-toggle input[type='checkbox'] {
    display: none;
}

.polaris-toggle .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    background-color: #fff;
    border-radius: 1000px;
    margin: 2.5px;
    transition: 0.5s;
}

/**************************************/

/********** polaris-map-box ************/

/**************************************/
