:root {
    --purple: #3b2f63;
    --dark-purple: #3b2f63;
    --header-height-px: 40px;
    --full-viewport-height-px: calc(100vh - var(--header-height-px));
    --hero-height-px: 600px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: inherit;
}

a:visited {
    color: inherit;
}

.page {
    margin: 0;
    font-family: Source Sans Pro, sans-serif !important;
}

.main {
    height: var(--full-viewport-height-px);
}

.header {
    height: var(--header-height-px);
    width: 100%;
    /* background-color: #fff; */
}

.tile {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/**************************************/
/*********** navbar *************/
.polaris {
    display: inline-block;
    height: 100%;
    text-align: center;
    /* color: #fff; */
    font-size: 2rem;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 9px !important;
}

.polaris:hover {
    text-decoration: none !important;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;

    padding: 0 2rem;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar > .nav-links {
    display: flex;
    flex-direction: row;
    /* color: #fff; */
    width: 100%;
    gap: 1rem;
    list-style-type: none;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;

    color: #000;

    transition: color 0.25s ease-in-out;
}

.link > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    padding: 0 0.5rem;

    transition: color 0.25s ease-in-out;
}

.link > a:hover {
    color: var(--purple);
}

.no-underline:hover {
    text-decoration: none !important;
}
/**************************************/

/**************************************/
/*********** Polaris.html *************/

#home-page > .hero {
    width: 100vw;
    height: var(--hero-height-px);

    background-color: #3b2f63;
    background-image: radial-gradient(
            circle at 50% top,
            rgba(84, 90, 182, 0.6) 0%,
            rgba(84, 90, 182, 0) 75%
        ),
        radial-gradient(
            circle at right top,
            #794aa2 0%,
            rgba(121, 74, 162, 0) 57%
        );
    /* background-image: radial-gradient(
            ellipse at 0% bottom,
            rgba(118, 72, 160, 0.7) 0%,
            rgba(118, 72, 160, 0) 60%
        ),
        radial-gradient(
            ellipse at 90% bottom,
            #523f8c 0%,
            rgba(82, 63, 140, 0) 40%
        ); */

    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

#home-page .hero {
    padding: 5rem 10rem;
}

#home-page .polaris-title {
    font-size: 4rem;
    letter-spacing: 9px;

    text-align: center;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 2rem;
}

#home-page .flex-container-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#home-page .card {
    display: block;
    padding: 1rem;
    background-color: #fff;
    border-radius: 9px;
    /* width: 215px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transition: all 0.25s ease-in-out;
}

#home-page .card:hover {
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#home-page .card-header {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#home-page .card-body {
    font-size: 1.25rem;
}

#home-page .credits {
    height: calc(var(--full-viewport-height-px) - var(--hero-height-px));

    padding: 2rem;
}

#home-page .credits h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#home-page .credits ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#home-page .credits li {
    list-style-type: none;
}
/**************************************/

/**************************************/
/******** log-functions.html **********/

#log-functions-page {
    padding: 1rem;
}

/* Log functions container */
.log-functions-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

.log-function {
    flex: calc(25% - 1rem);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-function-header {
    background-color: var(--purple);
    padding: 0 1rem;
    color: #fff;
    width: 100%;
}

.log-function-header > h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.log-function-body {
    width: 100%;
    flex: 1;
}

.log-function-sources {
    height: 15%;
    width: 100%;

    padding: 0.5rem;

    display: flex;
    flex-wrap: wrap;
}

.log-function-sources * {
    /* outline: 1px solid pink; */
}

.log-function-sources > .sources {
    width: 100%;
}

.log-function-sources > .refresh-rate {
    width: 50%;
}

.log-function-sources > .quality {
    width: 50%;
}
/**************************************/

/**************************************/
/******* class-of-supply.html *********/

#class-of-supply-page .log-function {
    flex: calc(33% - 1rem);
}

/**************************************/

/**************************************/
/************* cop.html ***************/
#map-page {
    padding: 1rem;
}

#map {
    width: 100%;
    height: 100%;
}

/**************************************/
