<header class="header">
    <nav class="navbar">
        <ul class="nav-links">
            <li class="{{link.classNames.join(' ')}}" ng-repeat="link in links">
                <a href="{{link.href}}" class="{{link.anchorClassNames.join(' ')}}">
                    <div ng-if="link.childLinks.length > 0" class="dropdown-icon">
                        <svg fill="#000000" height="100%" width="100%" version="1.1" id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                            c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                            s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
                        </svg>
                    </div>
                    {{ link.label }}
                </a>

                <ul ng-if="link.childLinks.length > 0" class="link-dropdown">
                    <li class="{{childLink.classNames.join(' ')}}" ng-repeat="childLink in link.childLinks">
                        <a class="{{childLink.anchorClassNames.join(' ')}}" href="{{childLink.href}}">{{
                            childLink.label}}</a>
                    </li>
                </ul>
            </li>
            <li class="link">
                <a href="{{j4LandingPageLink}}" class="j4-landing-page-link">
                    J4 Landing Page
                </a>
            </li>
        </ul>
    </nav>
</header>