<div class="qlik-navigation-bar">
    <div class="open-qlik-navbar-wrapper"
         ng-if="!isShowing"
         ng-click="toggle()">
        <div class="open-qlik-navbar">
        </div>
    </div>

    <div class="qlik-navigation-bar-wrapper"
         ng-if="isShowing">
        <div class="qlik-actions">
            <div class="qlik-action search"
                 ng-click="toggleSearchBar()">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     height="16px"
                     fill="currentColor"
                     aria-hidden="true"
                     role="img">
                    <path
                          d="M6 15.5a.5.5 0 0 1 .5-.5h3a.5.5 0 1 1 0 1h-3a.5.5 0 0 1-.5-.5m-5-2v1a.5.5 0 0 0 .5.5h1a.5.5 0 1 1 0 1H1a1 1 0 0 1-1-1v-1.5a.5.5 0 1 1 1 0m0-7v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 1 0m-1-4V1a1 1 0 0 1 1-1h1.5a.5.5 0 0 1 0 1h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 1-1 0m6-2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 .5m9 2v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 1 1 0-1H15a1 1 0 0 1 1 1v1.5a.5.5 0 1 1-1 0m.882 11.131c.25.25.062.813-.188 1.063s-.813.438-1.063.188l-1.689-1.689-.062-.375-.438-.438c-.625.5-1.439.75-2.377.75A4.057 4.057 0 0 1 6 9.066 4.057 4.057 0 0 1 10.065 5a4.057 4.057 0 0 1 4.066 4.065c0 .876-.25 1.689-.75 2.377l.437.438.375.062zm-5.817-1.501c.813 0 1.564-.313 2.19-.876.562-.563.875-1.313.875-2.189 0-.813-.313-1.563-.876-2.126C11.63 6.313 10.878 6 10.065 6s-1.563.312-2.189.875c-.563.626-.875 1.376-.875 2.19 0 .812.312 1.563.875 2.126.626.625 1.376.938 2.19.938">
                    </path>
                </svg>
            </div>
            <button ng-click="polaris.back()"
                    class="qlik-action">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     height="16px"
                     fill="currentColor"
                     aria-hidden="true"
                     role="img">
                    <path
                          d="M1 1.5a.5.5 0 0 1 .5-.5H3V0H1.5A1.5 1.5 0 0 0 0 1.5V3h1zM14.5 1a.5.5 0 0 1 .5.5V3h1V1.5A1.5 1.5 0 0 0 14.5 0H13v1zm0 14a.5.5 0 0 0 .5-.5V13h1v1.5a1.5 1.5 0 0 1-1.5 1.5H13v-1zm-13 0a.5.5 0 0 1-.5-.5V13H0v1.5A1.5 1.5 0 0 0 1.5 16H3v-1zM6 0h4v1H6zm9 6h1v4h-1zm-5 10v-1H6v1zM5.025 9.014A2.986 2.986 0 0 1 8 12h1a3.986 3.986 0 0 0-3.972-3.986l-3.025-.01 1.65-1.65-.707-.708L.093 8.5l2.853 2.854.708-.708L2.01 9.004l3.014.01Z">
                    </path>
                </svg>
            </button>
            <button ng-click="polaris.forward()"
                    class="qlik-action">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     height="16px"
                     fill="currentColor"
                     aria-hidden="true"
                     role="img">
                    <path
                          d="M1.5 1a.5.5 0 0 0-.5.5V3H0V1.5A1.5 1.5 0 0 1 1.5 0H3v1zm13.5.5a.5.5 0 0 0-.5-.5H13V0h1.5A1.5 1.5 0 0 1 16 1.5V3h-1zM14.5 15a.5.5 0 0 0 .5-.5V13h1v1.5a1.5 1.5 0 0 1-1.5 1.5H13v-1zM1 14.5a.5.5 0 0 0 .5.5H3v1H1.5A1.5 1.5 0 0 1 0 14.5V13h1zM6 0h4v1H6zM1 6H0v4h1zm9 9H6v1h4zm-2-3c0-1.645 1.33-2.98 2.975-2.986l3.031-.01-1.663 1.699.714.7 2.846-2.907-2.85-2.85-.707.708 1.651 1.65-3.025.01A3.986 3.986 0 0 0 7 12z">
                    </path>
                </svg>
            </button>
            <button ng-click="polaris.clear()"
                    class="qlik-action">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     height="16px"
                     fill="currentColor"
                     aria-hidden="true"
                     role="img">
                    <path
                          d="M6 15.5a.5.5 0 0 1 .5-.5h3a.5.5 0 1 1 0 1h-3a.5.5 0 0 1-.5-.5m-5-2v1a.5.5 0 0 0 .5.5h1a.5.5 0 1 1 0 1H1a1 1 0 0 1-1-1v-1.5a.5.5 0 1 1 1 0m0-7v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 1 0m-1-4V1a1 1 0 0 1 1-1h1.5a.5.5 0 0 1 0 1h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 1-1 0m6-2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 .5m9 2v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 1 1 0-1H15a1 1 0 0 1 1 1v1.5a.5.5 0 1 1-1 0M9.166 6.166c1.555-1.555 4.113-1.555 5.668 0s1.555 4.113 0 5.668-4.113 1.555-5.668 0-1.555-4.063 0-5.668m4.966 1.555a.56.56 0 0 0 0-.803.56.56 0 0 0-.803 0l-1.304 1.305-1.304-1.305a.522.522 0 0 0-.803 0 .524.524 0 0 0 0 .803l1.305 1.304-1.305 1.304c-.25.2-.25.552 0 .803.251.25.602.25.803 0l1.304-1.304 1.304 1.304c.2.25.552.25.803 0 .2-.201.25-.602 0-.803l-1.304-1.304z">
                    </path>
                </svg>
            </button>
            <!-- <button ng-click="toggle()"
                    class="qlik-action"
                    style="width: 27px;">
                <svg fill="currentColor"
                     height="8px"
                     width="8px"
                     version="1.1"
                     id="Layer_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 512 512"
                     xml:space="preserve">
                    <g>
                        <g>
                            <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 
			512,452.922 315.076,256 		" />
                        </g>
                    </g>
                </svg>
            </button> -->
        </div>
        <div class="qlik-selections-container">
            <p class="no-selections"
               ng-if="polaris.selectionState.selections.length === 0">No selections applied</p>
            <div class="selection-item"
                 ng-repeat="selectionItem in polaris.selectionState.selections">
                <div class="selection-info">
                    <p class="selection-item-fieldname">
                        {{selectionItem.fieldName.length > 26 ? selectionItem.fieldName.slice(0, 23) + '...' :
                        selectionItem.fieldName}}
                    </p>
                    <p class="selection-item-values">
                        {{selectionItem.qSelected.length > 26 ? selectionItem.qSelected.slice(0, 23) + '...' :
                        selectionItem.qSelected}}
                    </p>
                </div>
                <button ng-click="polaris.clearField(selectionItem.fieldName)"
                        class="qlik-action">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16"
                         height="12px"
                         fill="currentColor"
                         aria-hidden="true"
                         role="img">
                        <path
                              d="m9.345 8 3.982 3.982a.951.951 0 0 1-1.345 1.345L8 9.345l-3.982 3.982a.951.951 0 0 1-1.345-1.345L6.655 8 2.673 4.018a.951.951 0 0 1 1.345-1.345L8 6.655l3.982-3.982a.951.951 0 1 1 1.345 1.345z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="close-nav-bar-wrapper"
         ng-click="toggleNavBar()">
        <arrow-icon direction="getArrowDirection(isShowing)"></arrow-icon>
    </div>

    <div class="search-bar"
         ng-if="isSearchBarOpen">
        <span class="lui-icon lui-icon--search  lui-search__search-icon"></span>
        <input type="text"
               ng-model="searchStr"
               ng-change="search(searchStr)"
               placeholder="Enter key terms..." />
        <!-- 
        <div ng-if="searchResults.length === 0 && searchStr.length > 0"
             class="search-results no-results">
            <div class="search-results-header">
                <h3>No results</h3>
                <span class="search-results-close"
                      ng-click="toggleSearchBar()"
                      ng-if="searchStr.length">
                    <close-icon></close-icon>
                </span>
            </div>
        </div> -->

        <div class="search-results"
             ng-if="searchStr.length > 0">
            <div class="search-results-header">
                <h3>{{ searchResults.length > 1 ? searchResults.length : 'No'}} results</h3>
                <span class="search-results-close"
                      ng-click="toggleSearchBar()"
                      ng-if="searchStr.length">
                    <close-icon></close-icon>
                </span>
            </div>
            <ul class="search-result-list">
                <li class="search-result"
                    ng-repeat="result in searchResults">
                    <h3 ng-bind="result.columnName"></h3>
                    <p ng-repeat="text in result.matches"
                       ng-bind="text"
                       ng-click="polaris.select(result.columnName, text)"
                       class="result-text"></p>
                </li>
            </ul>
        </div>

    </div>
</div>

<style type="text/css">
    .qlik-navigation-bar {
        position: relative;
        width: 100%;
        height: var(--qlik-navigation-bar-height-px);
        padding: 0.25rem 1rem;
        background-color: rgb(242, 242, 242);

        transition: height 0.25s ease-in-out;
    }

    .qlik-navigation-bar-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
    }

    .qlik-actions {
        display: flex;
        gap: 0.25rem;
    }

    .qlik-action {
        border: none;
        border-radius: 4px;
        padding: 6px;
        transition: all 0.25s ease-in-out;
    }

    .qlik-action:hover {
        cursor: pointer;
        background-color: rgba(64, 64, 64, 0.05);
    }

    .qlik-selections-container {
        margin-left: 1rem;
        display: flex;
        gap: 0.5rem;
        flex: 1;
    }

    .no-selections {
        font-size: 0.75rem;
        font-style: italic;
        margin: 0;
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }

    .selection-item {
        background-color: #fff;
        border-radius: 4px;

        width: 170px;

        display: flex;
        align-items: center;

        padding: 1px;
        overflow: hidden;

        transition: all 0.25s ease-in-out;
    }

    .selection-item:hover {
        cursor: pointer;
        background-color: rgba(64, 64, 64, 0.05);
    }

    .selection-info {
        padding: 1px;
        flex: 1;
    }

    .selection-item-fieldname {
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 10px;
        margin-bottom: 1px;
    }

    .selection-item-values {
        font-size: 0.75rem;
        line-height: 10px;
    }

    .selection-item .qlik-action {
        width: 20px;
        height: 20px;
        padding: 1px;
        margin-right: 4px;
        background-color: #fff;
    }

    .selection-item .qlik-action:hover {
        background-color: rgba(64, 64, 64, 0.15);
    }

    .open-qlik-navbar-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        transition: all 0.25s ease-in-out;
    }

    .open-qlik-navbar-wrapper:hover {
        cursor: pointer;
        background-color: rgba(64, 64, 64, 0.15);
    }

    .open-qlik-navbar {
        width: 50px;
        height: 34%;
        background-color: gray;
        border-radius: 50%;
    }

    .search-bar {
        position: absolute;
        left: 0;
        height: var(--qlik-search-bar-height);
        width: 100%;
        z-index: 3;
        padding: 0.25rem 1.5rem 0.25rem 0;
        background-color: white;
        box-shadow: var(--box-shadow-1);

        display: flex;
        align-items: center;
    }

    .search-bar>input {
        display: block;
        border: none;
        width: 100%;
        font-size: 1.25rem;
    }

    .search-bar>input::placeholder {
        font-style: italic;
    }

    .search-results {
        position: absolute;
        left: 1rem;
        bottom: calc(100% - var(--qlik-search-bar-height) - 0.125rem);
        background-color: #FFF;
        box-shadow: var(--box-shadow-2);
        width: 500px;
        transform: translateY(100%);
        border-radius: 0;
        padding: 0.5rem;
        z-index: 2;
    }

    .search-results-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-results-header>h3 {
        flex: 1;
        text-align: center;
    }

    .search-result-list {
        max-height: 60vh;
        overflow-y: auto;
    }

    .search-results-close .close-icon {
        border-radius: 3px;
    }

    .search-result {
        margin-bottom: 0.5rem;
    }

    .result-text {
        background-color: inherit;
        border-radius: 6px;
        padding: 0.25rem;
        transition: background-color 0.25s ease-in-out;
    }

    .result-text:hover {
        background-color: rgba(64, 64, 64, 0.05);
        cursor: pointer;
    }

    .close-nav-bar-wrapper {
        position: absolute;
        bottom: -16px;
        right: 10px;
        width: 17px;
        height: 16px;
        background-color: inherit;
        z-index: 2;
        padding: 0 4px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .close-nav-bar-wrapper:hover {
        cursor: pointer;
    }
</style>