<main class="main"
      id="app-summary-page">
      <section class="hero-section">
            <div class="column">
                  <h2>App Summary</h2>
                  <h3>POLARIS - Pacific Operations Logistics and Readiness Information System</h3>
                  <div class="app-summary">
                        <p>The goal of POLARIS is to provide the USINDOPACOM J4 an adaptable platform that
                              provides
                              visibility of logistics readiness, current operations, and future operations. The
                              primary
                              goals are to answer the operational logistics key visibility questions aligned to
                              the 7
                              functions of joint logistics. Our approach is to create a cohesive mesh of automated
                              data
                              with the capability of correcting/updating lagging data sets that are paired and
                              tailored
                              to the J4 Divisions and Branches according to their unique reporting requirements
                              set by
                              the J4 Director. By answering the Operational Logistics Key Visibility questions in
                              a
                              layered approach focusing on readines (APOD/SPOD status, Pre-positioned material,
                              Asset
                              Readiness, Classes of Supply, and Posture) with Current operations metrics
                              (In-Transit-Visbility, Force Closure, and Logistics Current Operations. Once the
                              here and
                              now have been answered the application can focus on future operations through
                              modeling &
                              simulations against Operational requirements to generate sustainment plans provide
                              planners and decision makers visibility across a fast, agile, and adaptable Joint
                              Logistics Enterprise.</p>
                  </div>
            </div>
            <div class="column priority-focus-areas">
                  <h3>Priority Focus Areas</h3>
                  <ul>
                        <li>Class III - Inventory, Warehousing, and Supply Chain</li>
                        <li>Class V - Inventory, Warehousing, and Supply Chain</li>
                        <li>Deployment & Distribution - Asset Visibility, APOD/SPODs, In-Transit-Visibility, and
                              Logistics Operations</li>
                        <li>Sustainment - Pre-positioned Materials</li>
                  </ul>
            </div>


            <div class="dates">
                  <div><span>Data Last Reloaded: </span><time>{{ dateLastReloaded }}</time></div>
                  <div><span>Last Modified: </span><time>{{ lastModified }}</time></div>
                  <div><span>Published: </span><time>{{ published }}</time></div>
                  <div><span>Reload Cadence:</span><time> Hourly</time></div>
            </div>
      </section>

      <section class="logo-section">
            <div class="logo-container"
                 ng-repeat="logo in logos">
                  <img ng-src="{{logo.url}}" />
            </div>
      </section>

      <section class="credits-section">
            <ul ng-repeat="creditSection in creditsSections">
                  <h3>{{creditSection.label}}</h3>
                  <li ng-repeat="person in creditSection.people">
                        <p>{{person.name}}</p>
                        <p>{{person.title}}</p>
                        <p>{{person.contact}}</p>
                  </li>
            </ul>
      </section>

      <section class="glossary-change-log-section">
            <!-- 
            <div class="glossary">
                  <h3>Glossary</h3>
                  <table>
                        <thead>
                              <tr>
                                    <th>Term</th>
                                    <th>Definition</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr ng-repeat="entry in glossary">
                                    <td>{{ entry.term}}</td>
                                    <td>{{ entry.definition}}</td>
                              </tr>
                        </tbody>
                  </table>
            </div> -->
            <div class="change-log">
                  <h3>Change Log</h3>
                  <table>
                        <thead>
                              <tr>
                                    <th>Version</th>
                                    <th>Date</th>
                                    <th>Change</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr ng-repeat="change in changeLog">
                                    <td>{{ change.version}}</td>
                                    <td>{{ change.date}}</td>
                                    <td>{{ change.change}}</td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </section>
</main>

<style type="text/css">
      #app-summary-page * {
            /* outline: 1px solid pink; */
      }

      #app-summary-page>.hero-section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            padding: 5rem 10rem;
            padding-bottom: 2rem;
      }

      #app-summary-page>.hero-section>.column {
            width: 920px;
            line-height: 1.25rem;
      }

      #app-summary-page>.hero-section>.column>h2 {
            font-size: 2rem;
      }

      #app-summary-page>.hero-section>.column>h3 {
            font-size: 1.25rem;
      }

      #app-summary-page>.hero-section>.priority-focus-areas {
            margin-top: 1rem;
      }

      #app-summary-page>.hero-section>.priority-focus-areas>ul {
            list-style: none;
      }

      #app-summary-page>.hero-section>.priority-focus-areas>li {
            margin-left: 0.5rem;
      }

      #app-summary-page>.hero-section>div>h2 {
            padding: 1rem;
            padding-left: 0;
      }

      #app-summary-page>.hero-section>div>.app-summary {
            display: flex;
            gap: 2rem;
      }

      #app-summary-page>.hero-section>div>.app-summary>p {
            flex: 1;
            margin-top: 0.5rem;
      }

      #app-summary-page .dates {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            gap: 2rem;
      }

      #app-summary-page .dates>div {
            padding: 0.5rem 1rem;
      }

      #app-summary-page .dates>div time {
            font-style: italic;
      }

      #app-summary-page>.logo-section {
            background-color: var(--blue-2);
            color: white;
            padding: 3rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
      }

      #app-summary-page>.logo-section>.logo-container {
            height: 100px;
            width: 200px;

            text-align: center;
            display: flex;
            justify-content: center;
            background-color: #FFF;

            border-radius: 8px;
            box-shadow: var(--box-shadow-3);
            outline: none;
            padding: 0.5rem;
      }

      #app-summary-page>.credits-section {
            padding: 5rem 10rem;

            display: flex;
            justify-content: center;
            gap: 4rem;
            outline: none;
      }

      #app-summary-page>.credits-section * {
            outline: none;
      }

      #app-summary-page>.credits-section>ul {
            list-style: none;
      }

      #app-summary-page>.credits-section>ul>li {
            margin-top: 0.5rem;
      }

      #app-summary-page>.credits-section>ul>li>p:nth-child(2) {
            font-style: italic;
      }

      #app-summary-page>.glossary-change-log-section {
            background-color: var(--blue-2);

            padding: 5rem 10rem;

            display: flex;
            justify-content: center;

            gap: 1rem;
      }

      #app-summary-page>.glossary-change-log-section>.glossary,
      #app-summary-page>.glossary-change-log-section>.change-log {
            width: 500px;
            min-height: 400px;

            background-color: white;
            box-shadow: var(--box-shadow-2);
            padding: 1rem;
      }

      #app-summary-page>.glossary-change-log-section>.glossary {}

      #app-summary-page>.glossary-change-log-section>.change-log {
            width: 920px;
      }

      #app-summary-page>.glossary-change-log-section table {
            margin-top: 1rem;
      }

      #app-summary-page>.glossary-change-log-section tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      }

      #app-summary-page>.glossary-change-log-section th,
      #app-summary-page>.glossary-change-log-section td {
            text-align: left;
            padding: 0.25rem 0.5rem;
      }
</style>