<burger-menu-icon toggle-menu="toggleMenu()"></burger-menu-icon>

<qlik-navbar></qlik-navbar>

<div class="polaris-sidebar {{isMenuOpen ? 'open' : ''}}">
    <div class="close-icon-wrapper">
        <div class="close-icon" ng-click="toggleMenu()">
            <svg fill="#000000" height="100%" width="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                    <g>
                        <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 
                        512,452.922 315.076,256 		" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="polaris-checkbox" ng-repeat="el in objectElements">
            <input type="checkbox" id="{{el.bodyId + '-checkbox'}}" ng-model="el.isShowing" name="{{el.title}}" />
            <label for="{{el.bodyId + '-checkbox'}}">{{el.title}}</label>
        </div>
    </div>
</div>

<polaris-modal ng-repeat="appObject in modalElements" ng-if="appObject.isOpen" is-open="appObject.isOpen"
    toggle="appObject.toggleModal()" modal-label="{{appObject.label}}" object-id="{{appObject.objectId}}"
    element-id="{{appObject.elementId}}">
</polaris-modal>

<main class="main" id="class-of-supply-page">
    <div class="tile-container">
        <div ng-repeat="el in objectElements" ng-class="{'hide': !el.isShowing}" class="tile {{el.classes.join(' ')}}">
            <div class="tile-header">
                <h2>{{ el.title }}</h2>
                <button ng-click="el.toggleModal()" class="tile-header-fullscreen-btn">
                    <fullscreen-icon></fullscreen-icon>
                </button>
            </div>
            <div class="tile-body" id="{{ el.bodyId }}">
                <loader></loader>
            </div>
            <div ng-if="!!el.sources" class="tile-sources">
                <p class="sources">
                    <span>Sources:</span>
                    <span>{{ el.sources.join(' , ') }}</span>
                </p>
                <p class="refresh-rate">
                    <span>Refresh Rate:</span>
                    <span class="{{el.refreshRate.color}}">{{ el.refreshRate.label }}</span>
                </p>
                <p class="quality">
                    <span>Quality:</span>
                    <span class="{{el.quality.colo}}">{{ el.quality.label }}</span>
                </p>
            </div>
        </div>
    </div>
</main>

<style type="text/css">
    #class-of-supply-page {
        height: var(--full-viewport-height-navbar-px);
        padding: 1rem;
    }

    #class-of-supply-page .tile {
        flex: calc(33% - 1rem);
    }
</style>