<burger-menu-icon toggle-menu="toggleSidebar()"></burger-menu-icon>
<qlik-navbar></qlik-navbar>
<main class="main"
      ng-class="{'fullscreen': !isSidebarShowing}"
      id="home-page">
    <div class="sidebar"
         ng-show="isSidebarShowing">
        <div class="toggle-section">
            <div class="toggle-section-header"
                 ng-click="isPacomTogglesOpen = !isPacomTogglesOpen">
                <h2>Classes of Supply</h2>
                <div class="toggle">
                    <arrow-icon direction="getArrowDirection(isPacomTogglesOpen)"></arrow-icon>
                </div>
            </div>
            <ul class="checkbox-group"
                ng-if="isPacomTogglesOpen">
                <li class="polaris-checkbox"
                    ng-repeat="toggle in pacomToggles">

                    <polaris-toggle is-checked="getVariable(toggle.varName)"
                                    toggle="toggleVariable(toggle.varName)"
                                    label="{{toggle.title}}"
                                    id="{{toggle.label}}">
                    </polaris-toggle>
                </li>
                <li ng-if="v_map_classes_of_supply"
                    style="list-style: none; padding-left: 1rem;">
                    <ul>
                        <li class="polaris-checkbox"
                            style="list-style: none; padding-left: 1rem;"
                            ng-repeat="toggle in classesOfSupplyToggles">

                            <polaris-toggle is-checked="getVariable(toggle.varName)"
                                            toggle="toggleVariable(toggle.varName)"
                                            label="{{toggle.title}}"
                                            id="{{toggle.label}}">
                            </polaris-toggle>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="toggle-section">
            <div class="toggle-section-header"
                 ng-click="isPddocTogglesOpen = !isPddocTogglesOpen">
                <h2>Deployment and Distribution</h2>
                <div class="toggle">
                    <arrow-icon direction="getArrowDirection(isPddocTogglesOpen)"></arrow-icon>
                </div>
            </div>
            <ul class="checkbox-group"
                ng-if="isPddocTogglesOpen">
                <li class="polaris-checkbox"
                    ng-repeat="toggle in pddocToggles">
                    <polaris-toggle is-checked="getVariable(toggle.varName)"
                                    toggle="toggleVariable(toggle.varName)"
                                    label="{{toggle.title}}"
                                    id="{{toggle.label}}">
                    </polaris-toggle>
                </li>
            </ul>
        </div>
        <div class="toggle-section">
            <div class="toggle-section-header"
                 ng-click="isNodalHealthTogglesOpen = !isNodalHealthTogglesOpen">
                <h2>Nodal Health</h2>
                <div class="toggle">
                    <arrow-icon direction="getArrowDirection(isNodalHealthTogglesOpen)"></arrow-icon>
                </div>
            </div>
            <ul class="checkbox-group"
                ng-if="isNodalHealthTogglesOpen">
                <li class="polaris-checkbox"
                    ng-repeat="toggle in nodalHealthToggles">
                    <polaris-toggle is-checked="getVariable(toggle.varName)"
                                    toggle="toggleVariable(toggle.varName)"
                                    label="{{toggle.title}}"
                                    id="{{toggle.label}}">
                    </polaris-toggle>
                </li>
            </ul>
        </div>
        <div class="toggle-section">
            <div class="toggle-section-header"
                 ng-click="isEngineerTogglesOpen = !isEngineerTogglesOpen">
                <h2>Engineer Units</h2>
                <div class="toggle">
                    <arrow-icon direction="getArrowDirection(isEngineerTogglesOpen)"></arrow-icon>
                </div>
            </div>
            <ul class="checkbox-group"
                ng-if="isEngineerTogglesOpen">
                <li class="polaris-checkbox"
                    ng-repeat="toggle in engineerUnitsToggles">
                    <polaris-toggle is-checked="getVariable(toggle.varName)"
                                    toggle="toggleVariable(toggle.varName)"
                                    label="{{toggle.title}}"
                                    id="{{toggle.label}}">
                    </polaris-toggle>
                </li>
            </ul>
        </div>
        <div class="toggle-section">
            <div class="toggle-section-header"
                 ng-click="isOcsTogglesOpen = !isOcsTogglesOpen">
                <h2>OCS</h2>
                <div class="toggle">
                    <arrow-icon direction="getArrowDirection(isOcsTogglesOpen)"></arrow-icon>
                </div>
            </div>
            <ul class="checkbox-group"
                ng-if="isOcsTogglesOpen">
                <li class="polaris-checkbox"
                    ng-repeat="toggle in ocsToggles">
                    <polaris-toggle is-checked="getVariable(toggle.varName)"
                                    toggle="toggleVariable(toggle.varName)"
                                    label="{{toggle.title}}"
                                    id="{{toggle.label}}">
                    </polaris-toggle>
                </li>
            </ul>
        </div>
    </div>
    <div id="map"
         class="map">
        <loader></loader>
    </div>

    <div class="map map-elements">
        <div class="map-search-bar">
            <input ng-model="searchStr"
                   ng-change="search(searchStr)"
                   placeholder="Search POLARIS" />
            <div class="search-icon"
                 ng-if="searchStr.length === 0">
                <svg fill="#000"
                     height="100%"
                     width="100%"
                     version="1.1"
                     id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 488.4 488.4"
                     xml:space="preserve">
                    <g>
                        <g>
                            <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
                s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
                S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
                S381.9,104.65,381.9,203.25z" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="close-icon-wrapper"
                 ng-if="searchStr.length"
                 ng-click="closeSearchBar()">
                <svg fill="#000000"
                     height="100%"
                     width="100%"
                     version="1.1"
                     id="Layer_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 512 512"
                     xml:space="preserve">
                    <g>
                        <g>
                            <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 
                            512,452.922 315.076,256 		"></polygon>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="results scrollbar"
                 ng-if="searchStr.length">
                <ul>
                    <li ng-if="searchStr.length && searchResults.length === 0">No results</li>
                    <li class="search-result"
                        ng-repeat="result in searchResults">
                        <h3 ng-bind="result.columnName"></h3>
                        <p ng-repeat="text in result.matches"
                           ng-bind="text"
                           ng-click="polaris.select(result.columnName, text)"
                           class="result-text"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <polaris-map-box ng-repeat="box in drilldownBoxes"
                     style="position: absolute; bottom: 0; right: 0; z-index: 2;"
                     is-showing="box.isOpen"
                     close="polaris.clearField(box.fieldName)"
                     object-id="{{box.objectId}}"></polaris-map-box>
</main>

<style type="text/css">
    #home-page {
        height: var(--full-viewport-height-navbar-px);

        display: grid;
        grid-template-columns: 350px 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'sidebar map map map map'
            'sidebar map map map map'
            'sidebar map map map map';

        transition: all 0.25s ease-in-out
    }

    #home-page.fullscreen {
        display: grid;
        grid-template-columns: repeat(5, 1fr) 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'map map map map map'
            'map map map map map'
            'map map map map map';
    }

    #home-page .map {
        grid-area: map;
    }

    #home-page .grid-box {

        display: flex;
        flex-direction: column;
    }

    #home-page .grid-box .header {
        padding: 0.5rem;
    }

    #home-page .grid-box .body {
        flex: 1;
    }

    #home-page .sidebar {
        grid-area: sidebar;
        box-shadow: var(--box-shadow-1);
    }

    #home-page .toggle-section .toggle-section-header {
        background-color: var(--blue-2);
        color: #FFF;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;

        transition: background-color 0.3s ease-in-out;
    }

    #home-page .toggle-section .toggle-section-header:hover {
        cursor: pointer;
        background-color: var(--blue-3);
    }

    #home-page .toggle-section .toggle-section-header>h2 {
        font-size: 1rem;

        flex: 1;
    }

    #home-page .toggle-section .toggle-section-header>.toggle {
        height: 100%;
    }

    #home-page .toggle-section .toggle-section-header>.toggle svg {
        fill: #FFF;
        height: 18px;
        width: 18px;
        display: block;
        transition: transform 0.125s ease-in-out;
    }

    #home-page .checkbox-group .polaris-checkbox {
        padding: 0.25rem 0.5rem;
        transition: all 0.125s ease-in-out;
    }

    #home-page .checkbox-group .polaris-checkbox:hover {
        background-color: #d3d3d3;
    }

    #home-page .checkbox-group .polaris-checkbox:hover,
    #home-page .checkbox-group .polaris-checkbox label:hover,
    #home-page .checkbox-group .polaris-checkbox input:hover {
        cursor: pointer;
    }

    #home-page .checkbox-group .polaris-checkbox input {
        height: 18px;
        width: 18px;
    }

    #home-page .box-container {
        z-index: 1;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    #home-page .polaris-map-box {
        width: 300px;
        height: var(--full-viewport-height-navbar-px);
        background-color: #fff;
        /* box-shadow: var(--box-shadow-2); */
        /* border-radius: 6px; */
        padding: 0.25rem;

        display: flex;
        flex-direction: column;
    }

    #home-page .object-header {
        /* background-color: var(--blue-1);
        color: #fff; */
        padding: 0 0.25rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #home-page .object-header>h3 {
        flex: 1;
    }

    #home-page .object-header button {
        background-color: inherit;
        border: none;
        padding: 4px;
    }

    #home-page .object-header .close-icon {
        height: 1.25rem;
        width: 1.25rem;
        padding: 3px;
    }

    #home-page .object-container {
        flex: 1;
    }

    #home-page .map-elements {
        width: 0;
        height: 0;
        position: relative;
        z-index: 2;
    }

    #home-page .map-search-bar {
        position: absolute;
        background-color: #FFF;
        box-shadow: var(--box-shadow-3);
        width: 235px;
        height: 35px;

        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 18px;

        display: flex;
        gap: 0.5rem;
    }

    #home-page .map-search-bar>input {
        border: none;
        display: block;
        flex: 1;
        font-size: 1rem;
    }

    #home-page .map-search-bar>input::placeholder {
        font-style: italic;
    }

    #home-page .map-search-bar>.search-icon {
        width: 17px;
        height: 17px;
    }

    #home-page .map-search-bar>.close-icon-wrapper {
        width: 17px;
        height: 17px;
        padding: 2px;
    }

    #home-page .map-search-bar>.close-icon-wrapper:hover {
        cursor: pointer;
    }

    #home-page .map-search-bar .results {
        position: absolute;
        top: 40px;
        left: 0;
        padding: 0.5rem;
        width: 100%;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: inherit;
        box-shadow: var(--box-shadow-3);
        border-radius: 0.5rem;
    }
</style>