<burger-menu-icon toggle-menu="toggleMenu()"></burger-menu-icon>


<qlik-navbar></qlik-navbar>

<div class="polaris-sidebar {{isMenuOpen ? 'open' : ''}}">
    <div class="close-icon-wrapper">
        <close-icon toggle-menu="toggleMenu()"></close-icon>
    </div>
    <div class="sidebar-body">
        <div class="polaris-checkbox"
             ng-repeat="el in objectElements">
            <input type="checkbox"
                   id="{{el.bodyId + '-checkbox'}}"
                   ng-model="el.isShowing"
                   name="{{el.title}}" />
            <label for="{{el.bodyId + '-checkbox'}}">{{el.title}}</label>
        </div>
    </div>
</div>

<polaris-modal ng-repeat="appObject in modalElements"
               ng-if="appObject.isOpen"
               is-open="appObject.isOpen"
               toggle="appObject.toggleModal()"
               modal-label="{{appObject.label}}"
               object-id="{{appObject.objectId}}"
               element-id="{{appObject.elementId}}">
</polaris-modal>

<main class="main"
      id="log-functions-page">
    <div class="tile-container">
        <div ng-repeat="el in objectElements"
             ng-style="polaris.getContainerSize(objectElements)"
             ng-class="{'hide': !el.isShowing}"
             class="tile-wrapper">

            <div class="tile {{el.classes.join(' ')}}">

                <div class="tile-header">
                    <h2>{{ el.title }}</h2>
                    <button ng-click="el.toggleModal()"
                            class="tile-header-fullscreen-btn">
                        <fullscreen-icon></fullscreen-icon>
                    </button>
                </div>
                <div class="tile-body"
                     id="{{ el.bodyId }}">
                    <loader></loader>
                </div>
                <div ng-if="!!el.sources"
                     class="tile-sources">
                    <p class="sources">
                        <span>Sources:</span>
                        <span>{{ el.sources.join(' , ') }}</span>
                    </p>
                    <p class="refresh-rate">
                        <span>Refresh Rate:</span>
                        <span class="{{el.refreshRate.color}}">{{ el.refreshRate.label }}</span>
                    </p>
                    <p class="quality">
                        <span>Quality:</span>
                        <span class="{{el.quality.color}}">{{ el.quality.label }}</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</main>

<style type="text/css">
    #log-functions-page {
        height: var(--full-viewport-height-navbar-px);
        padding: 1rem;
    }
</style>