<qlik-navbar></qlik-navbar>
<main class="main"
      id="test-page">
    <div>
        <h3>Search</h3>
        <input type="text"
               ng-model="searchStr"
               ng-change="search(searchStr)" />
    </div>
    <div>
        <h3>Results</h3>
        <div>
            <div ng-repeat="result in results track by $index">
                <h4>{{result.columnName}}</h4>
                <ul>
                    <li ng-repeat="match in result.matches">
                        <p class="selection-item"
                           ng-bind="match"
                           ng-click="select(result.columnName, match)"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3>Raw results</h3>
        <p>
            {{JSON.stringify(results)}}
        </p>
    </div>
</main>

<style type="text/css">
    #test-page {
        height: var(--full-viewport-height-navbar-px);

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'sidebar map map map map'
            'sidebar map map map map'
            'sidebar map map map map';
    }

    #test-page .selection-item {
        transition: all 0.25s ease-in-out;
    }

    #test-page .selection-item:hover {
        background-color: var(--blue-2);
        cursor: pointer;
    }
</style>