#home-page > .hero {
    width: 100vw;
    height: 500px;
    background-image: radial-gradient(
            ellipse at 0% bottom,
            rgba(118, 72, 160, 0.7) 0%,
            rgba(118, 72, 160, 0) 60%
        ),
        radial-gradient(
            ellipse at 90% bottom,
            #523f8c 0%,
            rgba(82, 63, 140, 0) 40%
        );
}
